@import "tailwindcss";

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fbfaf8;
  color: rgb(23 23 23);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
